.ReviewFrom {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
.ReviewFrom .From-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}
.ReviewFrom .From-container textarea {
    flex-grow: 1;
}